.default {
    background: #fff;
    border: none;
    border-bottom: 1px solid #ddd;

    &:last-child {
        border-bottom: none;
    }
}

.checkbox {
    position: relative;
    font-size: 1.4rem;
    margin-top: 10px;
    margin-bottom: 10px;

    label {
        min-height: 20px;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
        display: flex;
        align-items: center;

        input {
            margin-right: 4px;
        }
    }
}

li.completed {
    label {
        text-decoration: line-through;
        color: #aaa;
    }
}
