.todo-footer {
    border-top: 1px solid #ddd;
    background-color: #f4fce8;
    margin: 0 -20px -10px -20px;
    padding: 4px 12px;
    color: #777;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .pull-left {
        margin-right: 15px;
        padding-right: 10px;
        height: 20px;
        font-size: 1.4rem;
        display: inline-block;
        align-items: center;
    }

    // .todo-footer {
    //     display: flex;

    //     .footer-items {
    //         font-size: 1.4rem;
    //     }
    // }
}

// .pull-right {
//     float: right;
// }

// .pull-left {
//     float: left;
//     font-size: 1.6rem;
// }
