.filter {
    margin: 8px;
    padding: 0;
    list-style: none;
    flex-direction: row;
    right: 0;
    display: flex;

    li {
        font-size: 1.6rem;

        span {
            cursor: pointer;
            color: inherit;
            margin: 3px;
            padding: 4px 8px;
            text-decoration: none;
            border: 1px solid transparent;
            border-radius: 3px;

            &:hover,
            &.selected {
                border-color: rgba(175, 47, 47, 0.2);
                color: #333;
            }
        }
    }
}
