.list-footer {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-left: 0;

    li {
        padding: 0 1px;
        display: flex;
        align-items: center;

        &:last-child {
            content: '';
            display: inline-block;
            border-left: 1px solid #ccc;
        }
    }

    .button {
        margin: 0 5px;
        height: 18px;
        width: 18px;
        cursor: pointer;
        opacity: 0.5;
        transition: 0.3s, all;

        &:hover,
        &.selected {
            opacity: 1;
            border-color: #ddd;
        }
    }

    .add {
        background: url(../../assets/images/add.svg) no-repeat center;
    }

    .search {
        background: url(../../assets/images/search.svg) no-repeat center;
    }

    .text {
        font-size: 1.4rem;
        margin-left: 10px;
    }
}
